<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary insert-new" data-toggle="modal"
                            data-target="#register-author-modal" type="button">Novo</button>
                    <button class="btn btn-outline-success" onclick="searchAuthor()" type="button">Buscar</button>
                </div>
                <input type="text"
                       id="author-search"
                       class="form-control"
                       placeholder="Nome do autor"
                       aria-label="Search"
                       aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>

<div id="authors-main-content" class="container-fluid"></div>

<div class="container">
    <div class="row">
        <div style="display: none;" class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="info-modal" role="dialog">
    <div class="modal-dialog">
        <div id="info-modal-content" class="modal-content">
            <div class="modal-header">
                <button type="button" style="margin-left: 0;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="info-data">
                    <img id="author-info-thumbnail"
                         class="img-fluid d-block mx-auto info-thumbnail"
                         src="http://placehold.it/128x128" width="128" height="128">

                    <form>
                        <div class="form-group">
                            <label for="author-name-info">Nome</label>
                            <input type="text" class="form-control"
                                   id="author-name-info"
                                   name="authorName" disabled>
                        </div>

                        <div class="form-group">
                            <label for="author-comic-info">Quadrinhos</label>
                            <textarea class="form-control"
                                      id="author-comic-info"
                                      name="authorComic" disabled>
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="author-series-info">Series</label>
                            <textarea class="form-control"
                                      id="author-series-info"
                                      name="authorSeries" disabled>
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="author-story-info">Histórias</label>
                            <textarea class="form-control"
                                      id="author-story-info"
                                      name="authorStory" disabled>
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="author-event-info">Eventos</label>
                            <textarea class="form-control"
                                      id="author-event-info"
                                      name="authorEvent" disabled>
                            </textarea>
                        </div>

                        <div class="action_btns">
                            <input id="update-author-modal-btn"
                                   type="button"
                                   class="btn btn-outline-success btn-block"
                                   value="Atualizar">

                            <input type="button"
                                   class="btn btn-outline-dark btn-block"
                                   data-dismiss="modal"
                                   value="Cancelar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="register-author-modal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <form>
                        <div class="container">
                            <div class="row">
                                <div style="display: none;" class="spinner">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="author-name-form">Nome</label>
                            <input type="text" class="form-control" id="author-name-form" name="authorName">
                        </div>

                        <div class="form-group">
                            <label for="author-thumbnail-form">Foto</label>
                            <input type="file" class="form-control-file" id="author-thumbnail-form">
                        </div>

                        <div class="action_btns">
                            <input type="button" class="btn btn-success btn-block" value="Salvar" onclick="createAuthor()">
                            <input id="reset-author-form" type="reset" class="btn btn-orange btn-block back_btn" value="Limpar">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    hideNonAuthItems();
    getAuthors(0, false);
</script>
