<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary insert-new" data-toggle="modal"
                            data-target="#register-character-modal" type="button">Novo</button>
                    <button class="btn btn-outline-success" onclick="searchCharacter()" type="button">Buscar</button>
                </div>
                <input type="text"
                       id="character-search"
                       class="form-control"
                       placeholder="Nome do personagem"
                       aria-label="Search"
                       aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>

<div id="characters-main-content" class="container-fluid"></div>

<div class="container">
    <div class="row">
        <div style="display: none;" class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="info-modal" role="dialog">
    <div class="modal-dialog">
        <div id="info-modal-content" class="modal-content">
            <div class="modal-header">
                <button type="button" style="margin-left: 0;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="info-data">
                    <img id="character-info-thumbnail"
                         class="img-fluid d-block mx-auto info-thumbnail"
                         src="http://placehold.it/128x128" width="128" height="128">

                    <form>
                        <div class="form-group">
                            <label for="character-name-info">Nome</label>
                            <input type="text" class="form-control"
                                   id="character-name-info"
                                   name="characterName" disabled>
                        </div>

                        <div class="form-group">
                            <label for="character-description-info">Descrição</label>
                            <textarea class="form-control"
                                      id="character-description-info"
                                      name="characterDescription" disabled>
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="character-comic-info">Quadrinhos</label>
                            <textarea class="form-control"
                                      id="character-comic-info"
                                      name="characterComic" disabled>
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="character-series-info">Series</label>
                            <textarea class="form-control"
                                      id="character-series-info"
                                      name="characterSeries" disabled>
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="character-story-info">Histórias</label>
                            <textarea class="form-control"
                                      id="character-story-info"
                                      name="characterStory" disabled>
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="character-event-info">Eventos</label>
                            <textarea class="form-control"
                                      id="character-event-info"
                                      name="characterEvent" disabled>
                            </textarea>
                        </div>

                        <div class="action_btns">
                            <input id="update-character-modal-btn"
                                   type="button"
                                   class="btn btn-outline-success btn-block"
                                   value="Atualizar">

                            <input type="button"
                                   class="btn btn-outline-dark btn-block"
                                   data-dismiss="modal"
                                   value="Cancelar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="register-character-modal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <form>
                        <div class="container">
                            <div class="row">
                                <div style="display: none;" class="spinner">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="character-name-form">Nome</label>
                            <input type="text" class="form-control" id="character-name-form" name="characterName">
                        </div>

                        <div class="form-group">
                            <label for="character-description-form">Descrição</label>
                            <textarea class="form-control" id="character-description-form" name="characterDescription" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="character-thumbnail-form">Foto</label>
                            <input type="file" class="form-control-file" id="character-thumbnail-form">
                        </div>

                        <div class="action_btns">
                            <input type="button" class="btn btn-success btn-block" value="Salvar" onclick="createCharacter()">
                            <input id="reset-character-form" type="reset" class="btn btn-orange btn-block back_btn" value="Limpar">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    hideNonAuthItems();
    getCharacters(0, false);
</script>
