<!DOCTYPE html>
<html>
<head>
    <title>Developer Challenge</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/main.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript" src="../js/bundle.min.js"></script>
</head>

<body>
<div class="main-container container-fluid">
    <div class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Início</a>

            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#characters">Personagens</a>
                    <a class="nav-item nav-link" href="#authors">Autores</a>
                    <a class="nav-item nav-link" href="#series">Séries</a>
                    <a id="user-nav-item" style="display: none;" class="nav-item nav-link" href="#users">Usuarios</a>
                </div>
            </div>

            <div class="navbar-nav">
                <a id="nav-login-item" class="nav-item nav-link"
                   href="#"
                   data-toggle="modal"
                   data-target="#loginModal">

                    Login
                </a>

                <a id="nav-logout-item" style="display:none;" class="nav-item nav-link"
                   href="#" onclick="logoutUser()">

                    Logout
                </a>
            </div>
        </nav>
    </div>

    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <img class="img-fluid mx-auto d-block" src="../images/logo.png" height="105.6px" width="233.1px">

                    <button type="button" style="margin-left: 0;" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div id="choose-login-register" class="action_btns">
                        <input id="login-modal-btn" type="button" class="btn btn-light btn-block" value="Login">
                        <input id="register-modal-btn" type="button" class="btn btn-light btn-block" value="Registrar">
                    </div>

                    <div class="user_login">
                        <div class="container">
                            <div class="row">
                                <div style="display: none;" class="spinner">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                </div>
                            </div>
                        </div>

                        <form id="form-login-user">
                            <div class="form-group">
                                <label for="emailLogin">Email</label>
                                <input type="email" class="form-control" id="emailLogin" name="emailLogin">
                            </div>

                            <div class="form-group">
                                <label for="passLogin">Senha</label>
                                <input type="password" class="form-control" id="passLogin" name="passLogin">
                            </div>

                            <div class="action_btns">
                                <input id="login-modal-btn"
                                       type="button"
                                       class="btn btn-outline-success btn-block"
                                       onclick="loginUser()"
                                       value="Login">

                                <input id="register-modal-btn"
                                       type="reset"
                                       class="btn btn-outline-dark btn-block back_btn"
                                       value="Voltar">
                            </div>

                        </form>
                    </div>

                    <div class="user_register">
                        <form>

                            <div class="form-group">
                                <label for="fullNameRegister">Nome</label>
                                <input type="text" class="form-control" id="fullNameRegister" name="fullNameRegister">
                            </div>

                            <div class="form-group">
                                <label for="emailRegister">Email</label>
                                <input type="email" class="form-control" id="emailRegister" name="emailRegister">
                            </div>

                            <div class="form-group">
                                <label for="passwordRegister">Senha</label>
                                <input type="password" class="form-control" id="passwordRegister" name="passwordRegister">
                            </div>

                            <div class="action_btns">
                                <input type="button" class="btn btn-outline-success btn-block" value="Registrar" onclick="registerUser()">
                                <input id="register-back-button" type="reset" class="btn btn-outline-dark btn-block back_btn" value="Voltar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="main-content" id="application-main-content"></div>
</div>
</body>
</html>
