<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="body-section">
                <div class="pb-2 mt-4 mb-2 border-bottom title-section">
                    <h1>Backend Mastery</h1>
                </div>

                O servidor foi criado utilizando <i>NodeJS</i> na versão <i>v9.9.0</i>. Foi utilizado o Express como
                framework para aplicação web, que ficará disponível na porta 3000.

                <h4 class="pb-2 mt-4 mb-2 border-bottom title-section">Aplicação</h4>
                Em um terminal, para construir os elementos do front, execute somente <i>npm run build</i>,
                assim será criada uma pasta <i>dist/</i> contendo os elementos do front. Para verificar o código,
                se o estilo está sendo seguindo <i>npm run eslint</i>. Caso deseje rodar a aplicação, execute
                <i>npm start</i>, que irá construir todo front na pasta <i>dist/</i> e irá executar o servidor que
                ficará na porta 3000.
                <br><br>

                As variáveis de ambiente ficaram no arquivo .env, que são utiliadas no seguinte formato:

                <div class="jumbotron mt-4 mb-4">
                    <div class="container">
                        <p>PUBLIC_KEY=valor da marvel</p>
                        <p>PRIVATE_KEY=valor da marvel</p>
                        <p>MARVEL_SERVER=https://gateway.marvel.com:443/v1/public</p>

                        <p>DB_DIALECT=mysql</p>
                        <p>DB_HOST=localhost</p>
                        <p>DB_PORT=3306</p>
                        <p>DB_NAME=nome do banco</p>
                        <p>DB_USER=usuario do banco</p>
                        <p>DB_PASSWORD=senha do banco</p>

                        <p>JWT_ENCRYPTION=valor para criptografar o jwt</p>
                        <p>JWT_EXPIRATION=10000</p>
                    </div>
                </div>

                Sendo essas as variáveis necessárias para funcionamento da aplicação.

                <h4 class="pb-2 mt-4 mb-2 border-bottom title-section">Banco</h4>
                O ORM utilizado para modelar o banco foi o Sequelize. Foram criadas as tabelas para autores, personagens,
                quadrinhos, eventos, series, histórias e usuários.

                As relações foram:

                <div class="container mt-4 mb-4 table-responsive-sm">
                    <table class="table table-striped text-center">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Tabelas</th>
                            <th scope="col">Autores</th>
                            <th scope="col">Personagens</th>
                            <th scope="col">Quadrinhos</th>
                            <th scope="col">Eventos</th>
                            <th scope="col">Series</th>
                            <th scope="col">Histórias</th>
                            <th scope="col">Usuários</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">Autores</th>
                            <td>-</td>
                            <td>-</td>
                            <td>N:N</td>
                            <td>N:N</td>
                            <td>N:N</td>
                            <td>N:N</td>
                            <td> - </td>
                        </tr>

                        <tr>
                            <th scope="col">Personagens</th>
                            <td> - </td>
                            <td> - </td>
                            <td>N:N</td>
                            <td>N:N</td>
                            <td>N:N</td>
                            <td>N:N</td>
                            <td> - </td>
                        </tr>

                        <tr>
                            <th scope="col">Quadrinhos</th>
                            <td>N:N</td>
                            <td>N:N</td>
                            <td> - </td>
                            <td> - </td>
                            <td>N:N</td>
                            <td> - </td>
                            <td> - </td>
                        </tr>

                        <tr>
                            <th scope="col">Eventos</th>
                            <td>N:N</td>
                            <td>N:N</td>
                            <td> - </td>
                            <td> - </td>
                            <td>N:N</td>
                            <td> - </td>
                            <td> - </td>
                        </tr>

                        <tr>
                            <th scope="col">Series</th>
                            <td>N:N</td>
                            <td>N:N</td>
                            <td>N:N</td>
                            <td>N:N</td>
                            <td> - </td>
                            <td>N:N</td>
                            <td> - </td>
                        </tr>

                        <tr>
                            <th scope="col">Histórias</th>
                            <td>N:N</td>
                            <td>N:N</td>
                            <td> - </td>
                            <td> - </td>
                            <td>N:N</td>
                            <td> - </td>
                            <td> - </td>
                        </tr>

                        <tr>
                            <th scope="col">Usuários</th>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h4 class="pb-2 mt-4 mb-2 border-bottom title-section">Marvel</h4>
                Os elementos possíveis de ser cadastrados manualmente são autores, personagens, series e usuários.
                Quando é realizada uma pesquisa por nome, para buscar algum objeto da Marvel, é realizada uma
                verificação no banco e depois é realizada uma requisição na API da Marvel, e assim o resultado é
                retornado para o front. Aqueles objetos que foram encontrados pela API e que não estão cadastrados
                no banco, serão inseridos antes de ser retornados.
                <br><br>

                Objetos que são criados manualmente pelos formulários, não é possível cadastrar as relações, por exemplo,
                ao cadastrar um novo personagem, não é possível cadastrar os quadrinhos relacionados a ele. Mas quando
                criado através automaticamente pela pesquisa, as relações são mapeadas e salvas, assim, quando as
                informações adicionais de um personagem forem requisitadas, caso ele ja esteja no banco, tudo será
                retornado para o front, caso o personagem não seja encontrado no banco, será pesquisado na API da Marvel.

                <h4 class="pb-2 mt-4 mb-2 border-bottom title-section">Usuários</h4>
                Os usuário podem se registrar através de um formulário, a senha será criptografada com <i>bcrypt</i> e
                o hash será salvo no banco. Através de outro formulário, os usuários podem realizar login, utilizando
                o email e a senha, assim, será retornado para o front o token pertencente aquele usuário, para que o
                mesmo possa realizar requisições em algumas rotas específicas.
                <br><br>

                Os usuários possuem 3 roles possíveis, <i>regular, editor</i> e <i>admin</i>, quando um usuário se
                registra, por padrão ele será um usuário regular, que não terá capacidade de criar nada. Usuários com
                role de editor, podem criar novos objetos da Marvel. E usuários admins, podem criar objetos da Marvel,
                atualizar e deletar outros usuários.

                <h4 class="pb-2 mt-4 mb-2 border-bottom title-section">API</h4>
                A aplicação possui as seguintes rotas:

                <div class="jumbotron mt-4 mb-4">
                    <div class="container">
                        <p class="lead">Autores: [:]/author</p>
                        <p>Podem listar todos em <b>[GET, /]</b>, pode cadastrar um novo em <b>[POST, /]</b>, pode
                            se pesquisar um autor específico em <b>[GET, /id/:id]</b>, pode se pesquisar por nome em
                            <b>[GET, /name]</b> onde os valores são passados como query pela URL.
                            Autenticação é necessária somente para se cadastrar um novo autor.</p>
                        <hr class="my-4">

                        <p class="lead">Personagens: [:]/marvel</p>
                        <p>Podem listar todos em <b>[GET, /]</b>, pode cadastrar um novo em <b>[POST, /]</b>, pode
                            se pesquisar um personagem específico em <b>[GET, /id/:id]</b>, pode se pesquisar por nome em
                            <b>[GET, /name]</b> onde os valores são passados como query pela URL.
                            Autenticação é necessária somente para se cadastrar um novo personagem.</p>
                        <hr class="my-4">

                        <p class="lead">Series: [:]/serie</p>
                        <p>Podem listar todas em <b>[GET, /]</b>, pode cadastrar uma nova em <b>[POST, /]</b>, pode
                            se pesquisar uma serie específica em <b>[GET, /id/:id]</b>, pode se pesquisar por nome em
                            <b>[GET, /name]</b> onde os valores são passados como query pela URL.
                            Autenticação é necessária somente para se cadastrar uma nova serie.</p>
                        <hr class="my-4">

                        <p class="lead">Autores: [:]/user</p>
                        <p>Usuários podem ser criados em <b>[POST, /]</b>, e podem realizar o login em
                            <b>[POST, /login]</b>, que são as únicas rotas que não se precisa de permissões. Para se
                            editar um usuário, utilize <b>[PUT, /]</b>, para se deletar utilize <b>[DELETE, /]</b>,
                            para se listar todos usuários <b>[GET, /]</b> e buscar um usuário pelo id,
                            <b>[GET, /id/:id]</b>.
                        </p>
                    </div>
                </div>

                As rotas que necessitam de autenticação, dependendo da ação que se deseja realizar, o usuário também
                deve ter o role necessário, caso contrário será retornado status 401.


                <h4 class="pb-2 mt-4 mb-2 border-bottom title-section">Melhorias</h4>
                Algumas das melhorias visiveis pelo código, seria tentar generalizar as ações realizadas, como por
                exemplo cadastro dos objeto das Marvel no banco, onde os passos realizados são os mesmo, mudando
                somente o objeto que se está salvando, generalizar esses serviços também reduziria o código, deixando
                menos espaço para erros.
                <br><br>

                As ações do banco são realizadas com transações, mas muitas vezes quando se realiza um pesquisa por nome,
                uma massa muito grande de dados será salva, ocasionando assim em alguns erros que ocorrem nesse processo,
                principalmente quando se está salvando as relações dos objetos. Pois enquanto uma transação para uma
                HQ, por exemplo, ainda está em execução, uma leitura é realizada para verificar se a HQ já existe,
                como a transação não foi commitada, não é encontrada, assim, é realizada a tentativa de salvar novamente
                a mesma HQ e falhando e lançando exceção da constraint do banco.
                <br><br>

                Melhorar o sistema de busca, encontrar algum método que evite requisições desnecessárias na API da
                Marvel, como, por exemplo, um sistema de cache.
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-12 style-forms">
            <div class="pb-2 mt-4 mb-2 border-bottom title-section">
                <h1>Frontend Mastery</h1>
            </div>

            Desenvolvimento do front foi feito utilizando somente javascript, sass e html. Foi utilizadas algumas
            bibliotecas para auxiliar, como jQuery, bootstrap e de toasters. Para ficar visualizando as alterações
            realizadas, utilizei o gulp para ficar transformando o sass em css e atualizando o JS e HTML.

            <h4 class="pb-2 mt-4 mb-2 border-bottom title-section">Funcionamento</h4>
            Foi feito uma espécie de single page application, para as listagens foi realizado um scroll infinito.
            Para os cadastros e login, foram todos feitos com modais. Os serviços de cadastro dos objetos da Marvel
            não contem todas as opções possíveis, como quadrinhos, series, etc, assim sendo, um cadastro envolve
            somente uma foto, e alguns campos básicos de texto. Com o cadastro, o sucesso ou erro na ação realizada
            é notificado através de um toaster no superior direito.

            <h4 class="pb-2 mt-4 mb-2 border-bottom title-section">Experiência</h4>
            Eu, particularmente, nunca tive muito envolvimento com desenvolvimento para front, sempre fiz uma ou
            outra coisa mais simples, que sempre era resolvido utilizando somente alguma das tecnologias que foram
            usadas pra fazer o front desse projeto. Com isso, tentei fazer o que mais se adequasse para o problema
            com o que eu sabia para disponibilizar um front com alguma funcionalidade.

            <br>
            Aluns problemas podem ser encontrados com pouco tempo de uso, como as rotas, eu utilizo o hash da url
            para renderizar o html da página requisitada, mas caso clique novamente no mesmo local, o hash não irá
            mudar, e assim, não será recarregado. Outro problema, foi que não consegui fazer o form de cadastro/login
            executar a ação sem redirecionar a página, assim é necessário clicar nos botões para executar as ações,
            isso inclui pesquisa por nome. O scroll infinito também tem um problema que é em relação a altura da página,
            quando se alcança uma altura específica em relação ao fundo a página, é feita a requisição e mostrado uma
            animação de loading, mas a barra de scroll fica saltando, o que faz a requisição ser realizada várias vezes,
            onde só para de realizar as requisições, quando os cards são renderizados e o scroll fica fora do limite.
            O role do usuário também ficou salvo no sessionStorage, para mostrar ou não partes do site que poderiam ser
            acessadas por ele, mesmo no back tendo a validação o front não deveria mostrar se não pode ver.

            <br>
            Alguns desse problemas poderiam ser resolvido utilizando algum outro framework, como por exemplo o caso do
            role no sessionStorage, que com Angular existem maneiras de guardar esse valor no contexto dos componentes,
            imagino que alguns outros também poderiam ser evitados.
        </div>
    </div>
</div>
