<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary insert-new" data-toggle="modal"
                            data-target="#register-series-modal" type="button">Novo</button>
                    <button class="btn btn-outline-success" onclick="searchSeries()" type="button">Buscar</button>
                </div>
                <input type="text"
                       id="series-search"
                       class="form-control"
                       placeholder="Nome da série"
                       aria-label="Search"
                       aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>

<div id="series-main-content" class="container-fluid"></div>

<div class="container">
    <div class="row">
        <div style="display: none;" class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="info-modal" role="dialog">
    <div class="modal-dialog">
        <div id="info-modal-content" class="modal-content">
            <div class="modal-header">
                <button type="button" style="margin-left: 0;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="info-data">
                    <img id="series-info-thumbnail"
                         class="img-fluid d-block mx-auto info-thumbnail"
                         src="http://placehold.it/128x128" width="128" height="128">

                    <form>
                        <div class="form-group">
                            <label for="series-name-info">Nome</label>
                            <input type="text" class="form-control"
                                   id="series-name-info"
                                   name="seriesName" disabled>
                        </div>

                        <div class="form-group">
                            <label for="series-year-info">Início</label>
                            <input type="date" class="form-control"
                                   id="series-year-info"
                                   name="seriesYear" disabled>
                        </div>

                        <div class="form-group">
                            <label for="series-creator-info">Criador</label>
                            <textarea class="form-control"
                                   id="series-creator-info"
                                   name="seriesCreator" disabled>
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="series-comic-info">Quadrinhos</label>
                            <textarea class="form-control"
                                      id="series-comic-info"
                                      name="seriesComic" disabled>
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="series-story-info">Histórias</label>
                            <textarea class="form-control"
                                      id="series-story-info"
                                      name="seriesStory" disabled>
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="series-event-info">Eventos</label>
                            <textarea class="form-control"
                                      id="series-event-info"
                                      name="seriesEvent" disabled>
                            </textarea>
                        </div>

                        <div class="action_btns">
                            <input id="update-series-modal-btn"
                                   type="button"
                                   class="btn btn-outline-success btn-block"
                                   value="Atualizar">

                            <input type="button"
                                   class="btn btn-outline-dark btn-block"
                                   data-dismiss="modal"
                                   value="Cancelar">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="register-series-modal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <form>
                        <div class="container">
                            <div class="row">
                                <div style="display: none;" class="spinner">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="series-name-form">Nome</label>
                            <input type="text" class="form-control" id="series-name-form" name="seriesName">
                        </div>

                        <div class="form-group">
                            <label for="series-creation-form">Criação</label>
                            <input type="date" class="form-control" id="series-creation-form" name="seriesCreation">
                        </div>

                        <div class="form-group">
                            <label for="series-thumbnail-form">Foto</label>
                            <input type="file" class="form-control-file" id="series-thumbnail-form">
                        </div>

                        <div class="action_btns">
                            <input type="button" class="btn btn-success btn-block" value="Salvar" onclick="createSeries()">
                            <input id="reset-series-form" type="reset" class="btn btn-orange btn-block back_btn" value="Limpar">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    hideNonAuthItems();
    getSeries(0, false);
</script>
