<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Papel</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
    </tr>
    </thead>
    <tbody id="user-table-content">
    </tbody>
</table>

<div class="modal fade" id="user-info-modal" role="dialog">
    <div class="modal-dialog">
        <div id="info-modal-content" class="modal-content">
            <div class="modal-header">
                <button type="button" style="margin-left: 0;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="info-data">
                    <form>
                        <div class="form-group">
                            <label for="user-id-info">ID</label>
                            <input type="number" class="form-control"
                                   id="user-id-info" disabled>
                        </div>

                        <div class="form-group">
                            <label for="user-name-info">Nome</label>
                            <input type="text" class="form-control"
                                   id="user-name-info">
                        </div>

                        <div class="form-group">
                            <label for="user-email-info">Email</label>
                            <input type="email" class="form-control"
                                   id="user-email-info" disabled>
                        </div>

                        <div class="form-group">
                            <label for="user-role-form">Papel:</label>
                            <select class="form-control" id="user-role-form">
                                <option>regular</option>
                                <option>editor</option>
                                <option>admin</option>
                            </select>
                        </div>

                        <div class="action_btns">
                            <input id="update-series-modal-btn"
                                   type="button"
                                   class="btn btn-outline-success btn-block"
                                   onclick="updateUser()"
                                   value="Atualizar">

                            <input type="button"
                                   class="btn btn-outline-dark btn-block"
                                   data-dismiss="modal"
                                   value="Cancelar">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

<script>
    listUsers();
</script>
