@import "palette"
@import "login"
@import "loading"
@import "modal-info"
@import "style"

html
  height: 100%

body
  padding: 0
  margin: 0
  min-height: 100%
  font-size: 0.85em !important

.main-container
  display: grid
  grid-template-columns: repeat(11, 1fr)
  grid-template-rows: repeat(11, 1fr)
  width: 100vw
  height: 100vh

  .main-header
    grid-row: 1
    grid-column: 1 / 12
    text-align: center
    vertical-align: middle

  .main-content
    grid-row: 2 / 12
    grid-column: 2 / 11
    padding: 0.5em
    height: 100%

    .cards-margin
      margin: 2em 0
