/* Coolors Exported Palette - coolors.co/ffffff-064789-2d3142-3b3355-cbc0d3 */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(210%, 92%, 28%, 1);
$color3: hsla(229%, 19%, 22%, 1);
$color4: hsla(254%, 25%, 27%, 1);
$color5: hsla(275%, 18%, 79%, 1);

/* RGB */
$white: rgba(255, 255, 255, 1);
$cerulean: rgba(6, 71, 137, 1);
$gunmetal: rgba(45, 49, 66, 1);
$koamaru: rgba(59, 51, 85, 1);
$lavender: rgba(203, 192, 211, 1);

.background-white {
  background: $white;
  color: $gunmetal;
}

.background-cerulean {
  background: $cerulean;
  color: $white;
}

.background-gunmetal {
  background: $gunmetal;
  color: $white;
}

.background-koamaru {
  background: $koamaru;
  color: $white;
}

.background-lavender {
  background: $lavender;
  color: $gunmetal;
}
