@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800 | Roboto |Work+Sans:400,600");

body {
    font-family: 'Work sans', sans-serif;
    color: #555;
    font-size: 14px !important;
}


.font-body {
    color: #474380;
    text-transform: none !important;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800 !important;
}


.title-section {
    border-bottom: 3px solid #aaa;
    text-transform: uppercase;
    font-weight: bold;
    color: #aaa;
    padding: 15px 0;
    margin: 15px 0;
    letter-spacing: 2px;
}
